body {
  width: 100%;
  height: 100%;
  margin: 0;
  font:15px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.main-container, #app {
  height:100%;
  width:100%;
}
.geocoder-form {
  display:flex;
  flex-direction: row;
  width: 50%;
}
.location-input{
  padding:1.5%;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  width:100%;
}
.go-btn {
  padding: 1%;
  margin-left: 1%;
  width: 7%;
}
.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
    padding: 0;
    margin: 0;
}
.geocoder-style-container {
  position: absolute;
  width: 75vw;
  padding: 1%;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.login-modal{
  position: 'absolute';
  z-index: 1000;
}
.account-container {
  display:flex;
  flex-direction: row;
}
.home-container {
  flex-direction: row;
  display:flex;
  height: 93%;

}

.sign-in-container {
  display:flex;
  flex-direction: column;
}
.mapboxgl-ctrl-geocoder { min-width:100%; }

.submit-container {
  display: flex;
  flex-direction: column;
  align-items:center;

}
.results-container{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items:center;
}

.items-list {
  flex: 1 0 auto;
	list-style-type: none;
	padding: 5px 0px 5px;
  width:25vw;

}
.info-container li {
  display: flex;
	padding: 0 20px;
	min-height: 50px;
}
.info-container li:nth-child(2n) {
	background-color: #f2f2f2;
}
.info-container li p {
	flex: 0 0 25%;
}
.info-container{
  padding: 3px;
  width: 25%;
  display: flex;
  flex-direction: column;
  border:1px solid black;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.avatar-img {
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
}

html {
  width: 100%;
  height: 100%;
  background: #f9f7f3;
}

.nav-bar {
  height: 7%;
  background: #666784;
  align-items: center;
  color:#fff;
  padding: 5px;
  display:flex;;
  justify-content:space-between;
  flex: 1 0 10px;

}

.footer-bar {
  background: #666784;
  flex-direction: column;
  display:flex;
  color:#fff;
  padding: 5px;
  display:flex;
  height: 15%;
  justify-content:space-between;
  flex: 1 0 10px;
  text-align: center;
}
